html {
    background-image: url("../images/sun-pattern.png");
    box-sizing: border-box;
}


h1 , nav, .container {
    margin: auto;
}

header {
    background-color: #ffffff;
    width: 100%; 
    padding: 0;
    border-bottom: 2px solid #cccccc;
    margin-top: 0;
    box-sizing: border-box; 
    height: 20%;
    
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    flex: 1;
    max-width: 960px;
}



.nameTag {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 30px;        
}

.heading {
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 30px;
    vertical-align: middle;
    line-height: 1.2;
    text-align: left;
    
}

.container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 30px;
    padding: 20px;
    width: 920px;

}

nav {
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    
}
li a {
    
    display: block;
    padding: 0;
    background-color: #ffffff;
    color: #777777;
    text-decoration: none;
    padding: 1em;
}
#doge {
    float: left;
    margin: 10px;
    margin-left: 0;
    padding: 0;
}

section {
    text-align: left;
    line-height: 2;
    margin: auto;
    position: relative;
    padding: 0;

}

.pFooter p{
    width: 100%;
    background-color: #666666;
    padding: 5px;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    margin: 0;
    position: fixed;
    bottom: 0px;
    color: #ffffff;
    left: 0px;
}

p, li, form {
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
}

h1, h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

form  {
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

}
#textBox {
    box-sizing: border-box;
    height: 1.5em;
    padding: 40px;
}

.submitBtn p {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-right: auto;
    text-align: center;
    width: 10%;
    padding: 15px;
}
.imgContent{
    display: flex;
    max-height: 100%;
}
.container .imgContent {
    max-height: 600px;
}

.portLinks {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.imgSizing {  
    width: 25%;
    height: 25%;
    z-index: 1
}

.imgSizing + .imgSizing {
    margin: 15px;
    padding: 10px;
}
.overText p {
    background-color:#4aaaa5;
    color: white;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    position: absolute;
    z-index: 2;
    width: 210px;
    height: 25px;
    padding: 10px;
}

#p1 {
    left: 0px;
    top: 50px;
}
#p2 {
    left: 25px;
    top: 40%;
}
#p3 {
    left: 25px;
    bottom: 25px;
}
#p4 {
    left: 485px;
    top: 120px;
}
#p5 {
    left: 485px;
    bottom:120px;
}